@use '../../styles/variables' as *;

.hero {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;

  @media (min-width: $breakpoint-tablet) {
    height: 300px;
  }

  @media (min-width: $breakpoint-desktop) {
    height: 400px;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;

    @media (min-width: $breakpoint-tablet) {
      left: 35%;
      text-align: left;
    }

    @media (min-width: $breakpoint-desktop) {
      left: 30%;
    }
  }

  &__title {
    font-family: $font-cursive;
    font-size: 2.5rem;
    font-weight: normal;
    font-style: italic;
    line-height: 1.2;
    color: white;

    @media (min-width: $breakpoint-tablet) {
      font-size: 3.5rem;
    }

    @media (min-width: $breakpoint-desktop) {
      font-size: 5rem;
    }
  }

  &__subtitle {
    font-family: $font-cursive;
    font-size: 1.5rem;
    font-weight: normal;
    font-style: italic;
    color: white;
    margin-top: -0.5rem;

    @media (min-width: $breakpoint-tablet) {
      font-size: 2rem;
    }

    @media (min-width: $breakpoint-desktop) {
      font-size: 2.8rem;
    }
  }
}
